@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@font-face {
    font-family: "Autumn-in-November";
    src: url("../fonts/Autumn-in-November.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype"),
         url("../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Signika";
    src: url("../fonts/Signika-Regular.ttf") format("truetype"),
         url("../fonts/Signika-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-Regular.ttf") format("truetype"),
         url("../fonts/NotoSans-Bold.ttf") format("truetype");
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Signika', sans-serif;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.content {
    min-height: calc(100vh - 120px);
}

.page__nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 100;
    padding: 0;
}

.page__nav-bar-wrapper {
    padding: rem-calc(12);
    font-family: 'NotoSans', sans-serif;
    font-size: rem-calc(14);

    @include breakpoint(medium) {    
        font-size: rem-calc(16);
    }

    .menu.simple li+li {
        /*Override menu.simple*/
        margin-left: rem-calc(12);

        @include breakpoint(large) {    
            margin-left: rem-calc(16);
        }   
    }
}

.page__nav-bar--transparent {
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.60;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    /*Opacity end*/
    color: white;
    padding: rem-calc(20);
}

.page__nav-bar-item {
    padding: rem-calc(10) rem-calc(8);
    font-family: 'Lato', sans-serif;
    font-size: rem-calc(14);
    color: #FFF;

    @include breakpoint(large) {
        font-size: rem-calc(16);
        padding: rem-calc(10) rem-calc(20);        
    }    
    
    & a {
        color: #FFF;
    }

    &:hover,
    &:focus,
    & a:hover,
    & a:focus {
        color:#D9B08C;
        font-weight: bold;
    }

    &.active {
        color:#D9B08C;
        font-weight: bold;

        @include breakpoint(medium) {
            border-bottom: 2px solid #D9B08C;
        }
    }
}

.page__nav-bar-logo {
    // height: auto;
    // width: rem-calc(40);

    // @include breakpoint(medium) {
    //     width: rem-calc(60);
    // }
    width: rem-calc(60);
    height: auto;
}

.page__header {
}

.page__header-wrapper {
    padding: 6.5rem 0 2.5rem;
    line-height: 1.4;
}

.page__footer {
    background: #116466;
}

.page__footer-wrapper {
    font-size: rem-calc(14);
    color: #D1E8E2;
    padding: rem-calc(20) 0;
    line-height: 1;

    @include breakpoint(medium) {
        font-size: rem-calc(16);
    }

    a {
        &:visited,
        &:hover,
        &:focus {
            color: #D1E8E2;
        }
    }
}

.page__footer-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: -30px;
    width: 100%;
    justify-content: space-evenly;
    white-space: nowrap;

    @include breakpoint(medium) {
        flex-direction: row;
    }
}

.page__footer-items a {
    display: inline-block;
    padding: rem-calc(30) 0 rem-calc(36);
    color: #8e8e8e;
    line-height: rem-calc(60);
}

.page__footer-items a.youtube:hover i {
    background: #cb322c;
    border-color: #cb322c;
}

.page__footer-items a.facebook:hover i {
    background: #3b5996;
    border-color: #3b5996;
}

.page__footer-items a:hover i {
    color: #fff;
}

.page__footer-items i {
    transition: all .3s ease-in-out;
    border: 1px solid #D1E8E2;
    font-size: rem-calc(24);
    float: left;
    padding: rem-calc(18);
    width: rem-calc(60);
    height: rem-calc(60);
    border-radius: 50%;
    text-align: center;
    margin-right: rem-calc(10);
    display: block;
    color: #D1E8E2;
}

.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}

// .page__footer-items div {
//     overflow: hidden;
//     line-height: 20px;
//     padding-top: 7px;
// }

.page__container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.page__who-we-are {
    height: auto;
    width: rem-calc(250);
    
    @include breakpoint(medium) {
        width: rem-calc(300);
    }
}
.page__who-img-container {
    cursor: pointer;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.page__who-img-container img {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.page__who-img-container .page__who-img-caption {
    font-size: rem-calc(12);
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
    height: 30px;
    width: 100%;
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
}

.page__who-img-container:hover .page__who-img-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%);
}

.page__about-container,
.page__who-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFCB9A;    
    padding: rem-calc(36) 0;
    
    @include breakpoint(medium) {
        padding: rem-calc(120) 0;
    }
}

.page__splash-screen {
    position: absolute;
    bottom: 0;
    left: 0;

    &.landscape {
        width: 100%;
        height: auto;
    }
    
    &.portrait {
        width: auto;
        height: 100%;
    }

    @include breakpoint(small only) {
        display: none;
    }
}

.mobile-poster {
    @include breakpoint(small only) {
        background: url('../img/mobilesplash.jpeg');
        background-size: cover;
    }

    @include breakpoint(medium) {
        background: black;
    }
}

.page__about-logo {
    height: rem-calc(160);
    width: auto;
    padding: rem-calc(16);
}

.page__about-header {
    padding-bottom: 1.5rem;

    @include breakpoint(medium) {    
        padding-bottom: 3.5rem;    
    }
}

.page__about-item {
    padding: 0 2rem 2rem;
    width: 60%;

    @include breakpoint(large) {    
        padding: 0;
        width: 100%;    
    }

    h4 {
        font-family: 'Autumn-in-November', 'Lato', 'sans-serif';
    }

    div {
        margin: rem-calc(12);

        @include breakpoint(medium) {
            margin: rem-calc(18);
        }
    }
}

.page__accordion-item {
    font-size: rem-calc(14);
    
    @include breakpoint(medium) {
        font-size: rem-calc(16);        
    }
}

.page__accordion-title {
    font-size: rem-calc(14);
    font-family: 'Lato', sans-serif;
    color: #116466;
    
    @include breakpoint(medium) {
        font-size: rem-calc(16); 
    }

    &:before {
        //override the :before pseudo and adjust the position of +/-        
        right: 0.5rem;

        @include breakpoint(medium) {
            right: 1rem;
        }
    }

    .is-active > &,
    &:hover,
    &:focus {
        background-color: #116466;
        color: #D1E8E2;
        font-weight: bold;
    }
}

.items__container {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-left: -rem-calc(8);
    padding-right: -rem-calc(8);
    margin-left: 0;

    @include breakpoint(medium) {
        flex-direction: row;        
    }
}

.item__resource {
    width: 100%;
    margin: rem-calc(8) 0;
    border: 1px solid #e6e6e6;

    @include breakpoint(medium) {
        margin: rem-calc(8);
        width: rem-calc(350);        
    }

    .card {
        //override the .card class and remove the border
        border: none;
    }

    .card img {
        margin: auto;
        width: 70%;
        height: auto;
    }
}

.icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-right: rem-calc(12);
    vertical-align: middle;
}

.icon--fb {
    background-image: url('../img/fb-logo.png');
}

.icon--yt {
    background-image: url('../img/yt-logo.png');
}

.page__construction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url('../img/construction.png');
    background-size: cover;
}